@{
    ViewBag.Title = "Cadastro de Contatos";

    var contatos = ViewBag.contatos;

    ViewBag.jquery = "/Scripts/meuJavaScript.js";
}

@model ef.Contato

<div id="topDiv">
    <table id="tbForm">
        <tr>
            <td>@Html.LabelFor(model => model.Id)</td>
            <td>@Html.LabelFor(model => model.Nome)<p class="required" id="pNome"> *</p></td>
            <td>@Html.LabelFor(model => model.Telefone)<p class="required" id="pTelefone"> *</p></td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(model => model.Id, new { Id = "formId", @readonly = "readonly" })</td>
            <td>@Html.TextBoxFor(model => model.Nome, new { Id = "formNome" })</td>
            <td>@Html.TextBoxFor(model => model.Telefone, new { Id = "formTelefone" , Placeholder="(00)0000-00000" })</td>
        </tr>

        <tr colspan="3">
            <td><p class="required" id="pLegenda">Obrigatorio</p></td>
        </tr>
        <tr>
            <td colspan="3">
                <input type="submit" value="Cadastrar" id="btnAddContato">
                <input type="submit" value="Atualizar" id="btnUpdateContato" class="disabled">
                <input type="submit" value="Deletar" id="btnDeleteContato" class="disabled">
                <input type="submit" value="Limpar" id="btnClear" class="disabled">
            </td>
        </tr>
    </table>
    <script type="text/javascript">$("#formTelefone").mask("(00)0000-00009");</script>

    <button id="btnSearchContato">Buscar Contatos</button>
</div>

<div id="bottonDiv">
    <table id="tbData"></table>
</div>